body{
    color: white;
    background-color: black;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif ;
}

ul{
  display: flex;
  justify-content: space-between;
  list-style-type: none;
  align-items: center;
  padding: 16px;
  font-family: Arial, Helvetica, sans-serif;
}

a{
    color: white;
    text-decoration: none;
}
header img{
    width: 160px;
    height: 160px;
    border-radius: 50%; 
    border: 5px solid blueviolet;
    
   }
.center {
    display: flex;
    text-align: center;
    flex-direction: column-reverse;
    align-content: stretch;
    justify-content: space-evenly;
    align-items: center;
}
h1{
    color: blueviolet;
}
 
footer{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    padding: 10px;
}
footer a{ 
    display: flex;
    align-items: center;
    margin: 10px;
   text-decoration: none;

}

footer img{
    width: 40px;
    height: 40px;
    border-radius: 50%;
    border: 3px solid blueviolet;
    margin-right: 10px;
 }
 

footer p{
    display: flex;
    margin: 0;
    text-align: center;
}
.container{
    padding: 0px 40px;
}
nav a:hover {
    color: blueviolet;
}